version: '3'

services:
  baikal:
    container_name: baikal
    image: ckulka/baikal:nginx
    networks:
      - srv    
    expose:
      - 80
    restart: unless-stopped
    volumes:
      - baikal_data:/var/www/baikal/Specific:rw
      - baikal_config:/var/www/baikal/config:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.baikal.rule=Host(`${HOST_BAIKAL}.${DOMAIN}`)
      - traefik.http.routers.baikal.entrypoints=websecure
      - traefik.http.routers.baikal.tls=true
      - traefik.http.services.baikal.loadbalancer.server.port=80  

volumes:
  baikal_config: 
  baikal_data: 
