version: '3'

services:
  selfoss:
    container_name: selfoss
    image: hardware/selfoss
    volumes:
      - selfoss_data:/selfoss/data
    networks:
      - srv
    restart: unless-stopped
    expose:
      - 8888
    labels:
      - traefik.enable=true
      - traefik.http.routers.selfoss.rule=Host(`${HOST_SELFOSS}.${DOMAIN}`)
      - traefik.http.routers.selfoss.entrypoints=websecure
      - traefik.http.routers.selfoss.tls=true
      - traefik.http.services.selfoss.loadbalancer.server.port=8888       

volumes: 
  selfoss_data:      
