version: '3'

services:
  stacosys:
    container_name: stacosys
    image: kianby/stacosys
    volumes:
      - ${ROOT_INSTALL}/data/stacosys:/config
    networks:
      - srv
    restart: unless-stopped
    expose:
      - 8100
  blog:
    container_name: blog
    image: kianby/blogduyax
    depends_on:
      - stacosys     
    networks: 
      - srv
    restart: unless-stopped
    expose:
      - 80
    labels:
      - traefik.enable=true
      - traefik.http.routers.blog.rule=Host(`${HOST_BLOG}.${DOMAIN}`)
      - traefik.http.routers.blog.entrypoints=https
      - traefik.http.routers.blog.tls=true    
